@section Head
{
    <link href="/css/rowchampion.css" rel="stylesheet">
}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-center">
            <img class="img-responsive mainlogo" src="/content/games/rowchampion/mainlogo.png"/>
            <h1>Coming soon to Android devices near you!</h1>
        </div>
     </div>
     <br/>
     <div class="row">
         <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 text-center">
            <iframe class="youtubeEmbed" width="854" height="480" src="https://www.youtube.com/embed/FygPX1D0xKg" frameborder="0" allowfullscreen></iframe>
        </div>

         <div class="col-lg-8 col-lg-offset-2 col-md-12 col-md-offset-0">
             <p>A game of timing and agility. Push the paddles at the right time to get biggest boost and defeat other players from around the world!</p>
        </div>
     </div>
     <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-center">
            <h1>Screens:</h1>
     </div>
     <br/> 
     <br/>  
     <div class="row screens">
         <div class="col-lg-4 col-lg-offset-2 col-md-10 col-md-offset-1 text-center">
             <a href="/content/games/rowchampion/screen1.png" data-lightbox="image-1" data-title="My caption">
                <img class="img-responsive" src="/content/games/rowchampion/screen1.png""/>
             </a>
         </div>
         <div class="col-lg-4 col-lg-offset-0 col-md-10 col-md-offset-1 text-center">
             <a href="/content/games/rowchampion/screen2.png" data-lightbox="image-1" data-title="My caption">
                <img class="img-responsive" src="/content/games/rowchampion/screen2.png""/>
             </a>
         </div>
     </div>
     <br/>    
     <div class="row screens">
         <div class="col-lg-2 col-lg-offset-2 col-md-10 col-md-offset-1 ">
             <a href="/content/games/rowchampion/screen1.png" data-lightbox="image-1" data-title="My caption">
                <img class="img-responsive" src="/content/games/rowchampion/screen1.png""/>
             </a>
         </div>
         <div class="col-lg-2 col-lg-offset-0 col-md-10 col-md-offset-1 text-center">
             <a href="/content/games/rowchampion/screen2.png" data-lightbox="image-1" data-title="My caption">
                <img class="img-responsive" src="/content/games/rowchampion/screen2.png""/>
             </a>
         </div>
         <div class="col-lg-2 col-lg-offset-0 col-md-10 col-md-offset-1 text-center">
             <a href="/content/games/rowchampion/screen2.png" data-lightbox="image-1" data-title="My caption">
                <img class="img-responsive" src="/content/games/rowchampion/screen2.png""/>
             </a>
         </div>
         <div class="col-lg-2 col-lg-offset-0 col-md-10 col-md-offset-1 text-center">
             <a href="/content/games/rowchampion/screen2.png" data-lightbox="image-1" data-title="My caption">
                <img class="img-responsive" src="/content/games/rowchampion/screen2.png""/>
             </a>
         </div>
     </div>
</div>